{% for id in containers %}
[{{containers[id].Name | replace(app_name, "") | replace("-", "")}}]
{{containers[id].IPv4Address.split('/')[0]}}

{% endfor %}

[all:vars]
ansible_ssh_common_args='-o StrictHostKeyChecking=no -o ControlMaster=auto -o ControlPersist=60s -o UserKnownHostsFile=/dev/null'
ansible_user=root
ansible_ssh_pass=root
